<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindModel" connectionString="data source=devsap92;initial catalog=dev_Northwind_itiel;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>